/vendor/
.phpunit.result.cache
composer.lock

/src/Extensions/ArmorUI/__all__.php
/src/Extensions/DEV_ArmorSPA/
/src/Resources/handlingtools.php
/src/Resources/Exceptions/exceptions.php

/tests/index.php
/tests/myroutes.php
/tests/.htaccess
/tests/SPARouter.js